body{
    font-family: 'Verdana', sans-serif;
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
}

#main-block{
    padding: 1%;
    margin-left: 1%;
}

#news{
    padding-top: 23.5px;
    font-weight: bold;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #2274a5;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s ease;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #1c577b;
    color: white;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #ff8552;
    color: black;
    font-size: 20px;
}
.topnav img.active {
    background-color: #ff8552;
    color: black;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.title{
    margin-top: 30px;
    margin-left: 41px;
}


.carousel-container {
    max-width: 100%;
    position: relative;
    margin-right: 41px;
    /* z-index: -1; */
    margin-bottom: 100px;
}
  
.carousel {
    width:100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 4.9%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0px 0 0 0px;
    user-select: none;
    background-color: #2274a5; 
    border: none;
    height: 400px;
}

.next {
    left: 100%;
    border-radius: 0 5px 5px 0;
}

.prev:hover, .next:hover {
    background-color: #1c577b;
}
